<h1>Bienvenue sur Ardoise</h1>

<p>
    <em>Ardoise</em> est l’outil de répartition du chiffre d’affaires entre les associés de <a href="https://www.codeursenliberté.fr">Codeurs en Liberté</a>.
</p>

<p>
Nous allons réfléchir à proposer ici :

<ul>
<li><%= link_to 'Gestion des associés', associates_path %></li>
<li>Saisie des données de paye</li>
<li>Saisie des dépenses</li>
<li><%= link_to 'Définition des règles de calcul de la part en commun', share_models_path %></li>
<li>Génération de rapports</li>
<li>Payer un salaire à partir du pot à Cookies</li>
</ul>
</p>
