<%= form_with(model: share_model, local: true) do |form| %>
  <% if share_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(share_model.errors.count, "error") %> prohibited this share_model from being saved:</h2>

      <ul>
      <% share_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nom %>
    <%= form.text_field :label, id: :share_model_label %>
  </div>
  <div class="actions">
    <%= form.submit :Enregistrer%>
  </div>
<% end %>
