<h1>Modification d’un modèle de répartition</h1>

<%= render 'form', share_model: @share_model %>

<h2> Tranches de contribution</h2>
<div>
  <table id=buckets>
    <thead>
        <th> À partir de </th>
        <th> mutualiser </th>
    </thead>
    <tbody>
        <%= render @share_model.share_model_buckets%>
    </tbody>
  </table>

  <%= form_for @share_model.share_model_buckets.new do |f| %>
    <%= f.hidden_field :share_model_id, value: @share_model.id %> 
    À partir de <%= f.number_field :lower_bound, min: 0%>,
    mutualiser <%= f.number_field :rate, in: -100..100%>%.
    <%= f.submit 'Ajouter une tranche'%>
  <% end %>
</div>

<%= link_to 'Voir', @share_model %> |
<%= link_to 'Retour', share_models_path %>
