<p id="notice"><%= notice %></p>

<h1>Modèles de répartition</h1>

<table>
  <thead>
    <tr>
      <th>Étiquette</th>
      <th>Tranches</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @share_models.each do |share_model| %>
      <tr>
        <td><%= share_model.label %></td>
        <td><ul>
        <% share_model.share_model_buckets.each do |bucket| %>
          <li><%= bucket.lower_bound.displayed_euros %> : <%= "%.2f" % (bucket.rate * 100) %> %</li>
        <% end %>
        </ul></td>
        <td><%= link_to 'Voir', share_model %></td>
        <td><%= link_to 'Éditer', edit_share_model_path(share_model) %></td>
        <td><%= link_to 'Supprimer', share_model, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau modèle de répartition', new_share_model_path %>
