<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @share_model.label %>
</p>
<table>
  <thead>
      <th> À partir de </th>
      <th> mutualiser </th>
  </thead>
  <tbody>
      <%= render @share_model.share_model_buckets%>
  </tbody>
</table>

<%= link_to 'Éditer', edit_share_model_path(@share_model) %> |
<%= link_to 'Retour', share_models_path %>
