$color-light-grey: #f8f8f8;
$color-grey: #e7e7e7;
$color-dark-grey: #777777;

$page-max-width: 960px;

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}

.container {
  max-width: $page-max-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: 0;
  background: $color-grey;
  height: 1px;
  margin: 2em 0 1.5em;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

form {
}

input,
select {
  border-radius: 3px;
  border: 1px solid $color-grey;
  box-shadow: none;
  padding: 0.5em;
  font-size: 15px;
}

input[type="button"],
input[type="submit"],
button,
a.button {
  background: $color-light-grey;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 3px 0 0 $color-grey;
  padding: 0.5em 0.75em;
  position: relative;
  top: -1px;
  text-decoration: none;
  border: 1px solid $color-grey;

  &:hover {
    background: $color-grey;
  }

  &:active {
    top: 2px;
    box-shadow: none;
  }

  a:hover {}
}

.button-group {
  margin-top: 2em;
}

.button + .button {
  margin-left: 1em;
}

a.delete {
  color: #999;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#content {
  margin: 2em;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
}

input + label,
select + label {
  margin-top: 1em;
}

header {
  background-color: $color-light-grey;
  border-bottom: 1px solid $color-grey;
  color: $color-dark-grey;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin: 1em;
    line-height: 40px;
  }

  a {
    color: $color-dark-grey;
  }
}

form + form {
  margin-top: 2em;
}

.main-panel {
  flex: 1;
}

.side-panel {
  margin-left: 2em;
  border-radius: 3px;
  padding: 2em;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.input-group__inline {
  display: inline-block;
}

.input-group + .input-group {
  margin-top: 1em;
}

.input-group + input[type="submit"] {
  margin-top: 1em;
}