<% if flash.notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<% if flash.alert %>
  <p id="alert"><%= flash.alert %></p>
<% end %>

<div class="container">
  <div class="main-panel">
    <p>
      Bonjour <strong><%= @associate.display_name %></strong>
    </p>
    <%= form_for @associate.spendings.new, remote: true do |f| %>
    <%= f.hidden_field :associate_id, value: @associate.id %>
    <div class="field">
      <div class="input-group">
        <div class="input-group__inline">
          <%= f.label :amount, "Montant de la dépense" %>
          <%= f.number_field :amount, min: 0, :step => 0.01 %>
        </div>
        <div class="input-group__inline">
          <%= f.label :label, "Libellé de la dépense" %>
          <%= f.text_field :label %>
        </div>
      </div>
      <div class="input-group">
        <%= select_date(Date.today, order: [:month, :year], prefix: :spending) %>
      </div>
      <%= f.submit 'Ajouter la dépense'%>
    </div>
    <% end %>
    <hr />
    <%= form_for @associate.incomes.new, remote: true do |f| %>
    <%= f.hidden_field :associate_id, value: @associate.id %>
    <div class="field">
      <div class="input-group">
        <div class="input-group__inline">
          <%= f.label :amount, "Revenu (Hors TVA)" %>
          <%= f.number_field :amount, min: 0, :step => 0.01 %>
        </div>
        <div class="input-group__inline">
          <%= f.label :label, "Libellé du revenu" %>
          <%= f.text_field :label %>
        </div>
      </div>
      <div class="input-group">
        <%= select_date(Date.today, order: [:month, :year], prefix: :income) %>
      </div>
      <div class="input-group">
        <%= f.label :label, "Modèle de répartition" %>
        <%= f.collection_select :share_model, ShareModel.all, :id, :label %>
      </div>
      <%= f.submit 'Ajouter le revenu' %>
    </div>
    <% end %>
    <hr />
    <%= form_for @associate.salaries.new, remote: true do |f| %>
      <%= f.hidden_field :associate_id, value: @associate.id %>
      <div class="field">
        <div class="input-group">
          <%= f.label :net_pay, "Salaire net" %> <%= f.number_field :net_pay, min: 0, :step => 0.01 %>
        </div>
        <div class="input-group">
          <div class="input-group__inline">
            <%= f.label :employee_contribution, "Cotisation salariale" %> <%= f.number_field :employee_contribution, min: 0, :step => 0.01 %>
          </div>
          <div class="input-group input-group__inline">
            <%= f.label :employer_contribution, "Cotisation patronale" %> <%= f.number_field :employer_contribution, min: 0, :step => 0.01 %>
          </div>
        </div>
        <div class="input-group">
          <%= f.label :saving_plan_contribution, "Versement volontaire PEE/PERCO" %> <%= f.number_field :saving_plan_contribution, min: 0, :step => 0.01 %>
        </div>
        <div class="input-group">
          <%= select_date(Date.today, order: [:month, :year], prefix: :salary) %>
        </div>
        <%= f.submit 'Ajouter le salaire' %>
      </div>
    <% end %>

    <% @associate.data_by_month.each do |month, data| %>
      <h2><%= I18n.l(Date.new(month[0], month[1]), format: '%B %Y') %></h2>
      <% if data[:spending] %>
        <h3> Dépenses </h3>
        <ul>
          <% data[:spending].each do |spending| %>
            <li>
              <%= spending.amount.displayed_euros %> (<%= spending.label %>)
              <%= link_to 'Supprimer', spending, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "delete" %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if data[:income] %>
        <h3> Revenus </h3>
        <ul>
          <% data[:income].each do |income| %>
            <li>
              <%= income.amount.displayed_euros %> (<%= income.label %>, répartition : <%= income.share_model.label %>)
              <%= link_to 'Supprimer', income, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "delete" %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if data[:salary] %>
        <h3> Salaires </h3>
        <ul>
          <% data[:salary].each do |salary| %>
            <li>
              Net : <%= salary.net_pay.displayed_euros %>
            </li>
              <% if salary.saving_plan_contribution > 0 %>
            <li>
              Abondement PEE/PERCO : <%= salary.employer_matching.displayed_euros %>
            </li>
              <% end %>
            <li>
              Cotisations salariales : <%= salary.employee_contribution.displayed_euros %>
            </li>
            <li>
              Cotisations patronales : <%= salary.employer_contribution.displayed_euros %>
            </li>
            <%= link_to 'Supprimer', salary, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "delete" %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>

  <aside class="side-panel">
    <ul>
      <li><strong>Bilan :</strong> <%= @summary.net_balance.displayed_euros %></li>
      <li><strong>Prime proposée :</strong> <%= @summary.suggested_bonus.displayed_euros %></li>
    </ul>
  </aside>
</div>
<div class="button-group">
  <%= link_to 'Modifier le compte', edit_associate_path(@associate), class: "button" %>
  <%= link_to 'Retour à la liste des associés', associates_path, class: "button" %>
</div>
