<!DOCTYPE html>
<html>
  <head>
    <title>Ardoise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_associate %>
    <header>
      <div class="container header__container">
        <ul>
          <li>Ardoise</li>
          <li><%= link_to 'Membres', associates_path %></li>
          <li><%= link_to 'Modèles de répartion', share_models_path %></li>
        </ul>
        <ul>
          <li>Connecté en tant que <strong><%= link_to current_associate.display_name, current_associate %></strong></li>
          <li><%= link_to 'Se déconnecter', logout_path, method: :delete %></li>
        </ul>
      </div>
    </header>
    <div id="content">
    <% if current_associate.access %>
      <%= yield %>
    <% else %>
      <p>Votre compte n’a pas d’accès. Veuillez le demander pour accéder à l’Ardoise.</p>
    <% end %>
    </div>
  <% else %>
    <%= link_to 'Se connecter avec Gitlab', '/auth/gitlab' %>
  <% end %>
  </body>
</html>
